
{% if 'synchronizer' in request.path %}
    <a href="{% url 'synchronizerabout' %}">about</a>
    <a href="{% url 'synchronizerhowto' %}">howto</a>
    <a href="{% url 'synchronize' %}">synchronize</a>
{% elif 'metronome' in request.path %}
    <a href="{% url 'metronomeabout' %}">about</a>
    <a href="{% url 'metronomehowto' %}">howto</a>
    <a href="{% url 'generate' %}">generate</a>
{% else %}
    <a href="{% url 'about' %}">about</a>
    <a href="{% url 'contact' %}">contact</a>
{% endif %}
<br>