{% load static %}
<nav class="row">
<div class="nav-wrapper col s12 l8 offset-l2 row">
  <div class="col s2 l1">
    <a href="{% url 'landing' %}" class=""><img src="{% static 'images/logo.png' %}"></a>
  </div>
  <ul id="nav-mobile" class="right">
    <li><a href="{% url 'synchronizerabout' %}"{% if 'synchronizer' in request.path %} class="active"{% endif %}>SYNCHRONIZER</a></li>
    <li><a href="{% url 'metronomeabout' %}"{% if 'metronome' in request.path %} class="active"{% endif %}>METRONOME</a></li>
    {% if user.is_authenticated %}
      <li><a href="{% url 'logoutuser' %}">LOGOUT</a></li>
    {% else %}
      <li><a href="{% url 'login' %}"{% if 'login' in request.path %} class="active"{% endif %}>LOGIN</a></li>
      <li><a href="{% url 'register' %}"{% if 'register' in request.path %} class="active"{% endif %}>REGISTER</a></li>
    {% endif %}
  </ul>
</div>
</nav>