{% extends 'base.html' %}

{% block content %}
    <br>
    {{ project.title }}<br>
    {{ project.description }}<br>
    {{ project.bpm }}<br>
    <br>
    <a href="{% url 'add_recording' project.slug %}">Add recording</a>
    <br><br>
    <table>
        <tr>
            <th>Instrument</th>
            <th>Identifier</th>
            <th>Pitch</th>
            <th>Author</th>
            <th>Delete</th>
        </tr>
        {% for recording in project.recordings.all %}
            <tr>
                <td>{{ recording.instrument }}</td>
                <td>{{ recording.identifier }}</td>
                <td>{{ recording.pitch }}</td>
                <td>{{ recording.author }}</td>
                <td>
                    <form method="POST">
                        {% csrf_token %}
                        {% if recording.id is delete_id %}
                            <button name="confirm_id" type="submit" value="{{ recording.id }}">
                                ✗
                            </button>
                        {% else %}
                            <button name="delete_id" type="submit" value="{{ recording.id }}">
                                ✗
                            </button>
                        {% endif %}
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}