{% extends 'base.html' %}

{% block content %}
    <a href="{% url 'create_project' %}">Create new project!</a>
    <table>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Instruments</th>
            <th>Edited</th>
            <th>Created</th>
            <th>Delete</th>
        </tr>
        {% for project in projects %}
            <tr>
                <td><a href="{% url 'project' project.id %}">{{ project.title }}</a></td>
                <td>{{ project.description }}</td>
                <td>
                    {% for recording in project.recordings.all %}
                        {{ recording.instrument }}
                    {% endfor %}
                </td>
                <td>{{ project.creation_date }}</td>
                <td>{{ project.edition_date }}</td>
                <td>
                    <form method="POST">
                        {% csrf_token %}
                        {% if project.id is delete_id %}
                            <button name="confirm_id" type="submit" value="{{ project.id }}">
                                ✗
                            </button>
                        {% else %}
                            <button name="delete_id" type="submit" value="{{ project.id }}">
                                ✗
                            </button>
                        {% endif %}
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}