{% extends 'base.html' %}

{% load static %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        {{ creation_form.frequency.label }}<br>
        {{ creation_form.frequency }}<br>
        {{ creation_form.duration.label }}<br>
        {{ creation_form.duration }}<br>
        {{ creation_form.bpm.label }}<br>
        {{ creation_form.bpm }}<br>
        {{ creation_form.stereo.label }}<br>
        {{ creation_form.stereo }}<br>
        {{ creation_form.tick.label }}<br>
        {{ creation_form.tick }}<br>
        <button type="submit" name="creation_submit">Generate</button><br>
    </form>
    <br>
    <br>
    {% if save_form %}
        Name this metronome to save it for another time!
        <form method="POST">
            {% csrf_token %}
            {{ save_form.as_p }}<br>
            <button type="submit" name="save_submit" value="{{ metronome }}">Save</button><br>
        </form>
    {% endif %}
    {% if generated_metronome_url %}
        <form method="POST" action="{% url 'download_metronome' generated_metronome_name %}">
            {% csrf_token %}
            <button type="submit">Download</button>
        </form>
         <audio controls>
             <source src="{% static generated_metronome_url %}" type="audio/wav">
         </audio>
    {% endif %}
{% endblock %}